<a href="https://colab.research.google.com/github/oraziotorre/TTinsight/blob/main/TTinsight_DataPreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [212]:
import pandas as pd
import ast
from collections import Counter
from google.colab import data_table
from sklearn.preprocessing import OneHotEncoder

data_table.enable_dataframe_formatter()

In [213]:
dataset = pd.read_csv("raw_dataset.csv")

dataset

Warning: total number of rows (164502) exceeds max_rows (20000). Falling back to pandas display.

,event_id,match_id,match_format,players_gender,match_stage,stage_id,match_duration,match_start_time,player_id,player_2_id,opponent_id,opponent_2_id,player_sets_won,opponent_sets_won,match_scores,sets_required_to_win,current_match_state,player_points,opponent_points,match_result
0,2234,TTEWDOUBLES-----------FNL-000100----------,D,W,FNL,100,1990,2021-11-15 17:32:48,112463,115009.0,117294,109777.0,3,2,"8-11,11-8,11-9,7-11,11-8",3,0-0,"3, 1, 2, 1, 3, 1, 5, 2, 2","1, 1, 3, 3, 1, 3, 1, 1, 1, 2, 2, 1",W
1,2234,TTEWDOUBLES-----------FNL-000100----------,D,W,FNL,100,1990,2021-11-15 17:32:48,117294,109777.0,112463,115009.0,2,3,"11-8,8-11,9-11,11-7,8-11",3,0-0,"1, 1, 3, 3, 1, 3, 1, 1, 1, 2, 2, 1","3, 1, 2, 1, 3, 1, 5, 2, 2",L
2,2234,TTEWDOUBLES-----------FNL-000100----------,D,W,FNL,100,1990,2021-11-15 17:32:48,112463,115009.0,117294,109777.0,3,2,"8-11,11-8,11-9,7-11,11-8",3,0-1,"1, 4, 1, 1, 1, 1, 1, 2, 1, 4, 2, 1","2, 1, 1, 7, 3, 1, 1, 2, 2",W
3,2234,TTEWDOUBLES-----------FNL-000100----------,D,W,FNL,100,1990,2021-11-15 17:32:48,117294,109777.0,112463,115009.0,2,3,"11-8,8-11,9-11,11-7,8-11",3,1-0,"2, 1, 1, 7, 3, 1, 1, 2, 2","1, 4, 1, 1, 1, 1, 1, 2, 1, 4, 2, 1",L
4,2234,TTEWDOUBLES-----------FNL-000100----------,D,W,FNL,100,1990,2021-11-15 17:32:48,112463,115009.0,117294,109777.0,3,2,"8-11,11-8,11-9,7-11,11-8",3,1-1,"1, 2, 3, 2, 2, 1, 4, 1, 1, 2, 1, 1","2, 2, 1, 2, 2, 3, 1, 1, 4, 3",W
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164497,2997,TTEMSINGLES-----------RND2000600----------,S,M,RND2,600,2452,2024-10-29 13:45:00,137238,NaN,132172,NaN,3,2,"11-3,7-11,11-9,7-11,11-6",3,1-1,"2, 2, 2, 1, 3, 2, 2, 1, 3, 1, 1, 1","1, 2, 2, 3, 1, 2, 2, 3, 1, 4",W
164498,2997,TTEMSINGLES-----------RND2000600----------,S,M,RND2,600,2452,2024-10-29 13:45:00,132172,NaN,137238,NaN,2,3,"3-11,11-7,9-11,11-7,6-11",3,1-2,"1, 2, 1, 2, 1, 1, 3, 4, 1, 1, 1, 1","2, 3, 4, 1, 2, 1, 1, 5",L
164499,2997,TTEMSINGLES-----------RND2000600----------,S,M,RND2,600,2452,2024-10-29 13:45:00,137238,NaN,132172,NaN,3,2,"11-3,7-11,11-9,7-11,11-6",3,2-1,"2, 3, 4, 1, 2, 1, 1, 5","1, 2, 1, 2, 1, 1, 3, 4, 1, 1, 1, 1",W
164500,2997,TTEMSINGLES-----------RND2000600----------,S,M,RND2,600,2452,2024-10-29 13:45:00,132172,NaN,137238,NaN,2,3,"3-11,11-7,9-11,11-7,6-11",3,2-2,"1, 1, 2, 7, 1, 3, 3","3, 2, 1, 1, 1, 1, 1, 3, 1, 2, 1, 1",L
164501,2997,TTEMSINGLES-----------RND2000600----------,S,M,RND2,600,2452,2024-10-29 13:45:00,137238,NaN,132172,NaN,3,2,"11-3,7-11,11-9,7-11,11-6",3,2-2,"3, 2, 1, 1, 1, 1, 1, 3, 1, 2, 1, 1","1, 1, 2, 7, 1, 3, 3",W

# **Pulizia RawDataset**
Rimozione delle righe e delle colonne indesiderate

In [214]:
nan_mask = dataset.isna()
nan_count = nan_mask.sum()

# Verifico i valori null del raw_dataset
nan_count

event_id                     0
match_id                     0
match_format                 0
players_gender               0
match_stage                  0
stage_id                     0
match_duration               0
match_start_time             0
player_id                    0
player_2_id             123540
opponent_id                  0
opponent_2_id           123540
player_sets_won              0
opponent_sets_won            0
match_scores                 0
sets_required_to_win         0
current_match_state          0
player_points             1206
opponent_points           1206
match_result                 0
dtype: int64

In [215]:
# Tolgo tutti i set con punteggi nulli
dataset_cleaned = dataset.dropna(subset=["player_points"])
dataset_cleaned[dataset_cleaned['player_points'].isnull()]

Empty DataFrame
Columns: [event_id, match_id, match_format, players_gender, match_stage, stage_id, match_duration, match_start_time, player_id, player_2_id, opponent_id, opponent_2_id, player_sets_won, opponent_sets_won, match_scores, sets_required_to_win, current_match_state, player_points, opponent_points, match_result]
Index: []

In [216]:
# Verifico la correttezza dei campi numerici
dataset_cleaned.describe()

,event_id,stage_id,match_duration,player_id,player_2_id,opponent_id,opponent_2_id,player_sets_won,opponent_sets_won,sets_required_to_win
count,163296.000000,163296.000000,163296.000000,163296.000000,40706.000000,163296.000000,40706.000000,163296.000000,163296.000000,163296.000000
mean,2701.453814,1576.823719,2053.055678,123975.548611,125933.068589,123975.548611,125933.068589,2.093891,2.093891,3.150928
std,156.991362,5507.150808,1406.511009,17341.694115,18042.220898,17341.694115,18042.220898,1.249755,1.249755,0.358083
min,2234.000000,100.000000,0.000000,90051.000000,100001.000000,90051.000000,100001.000000,0.000000,0.000000,2.000000
25%,2569.000000,200.000000,1429.000000,114716.000000,115910.000000,114716.000000,115910.000000,1.000000,1.000000,3.000000
50%,2700.000000,600.000000,1918.000000,121404.000000,122425.000000,121404.000000,122425.000000,3.000000,3.000000,3.000000
75%,2869.000000,1200.000000,2432.000000,132133.250000,133134.000000,132133.250000,133134.000000,3.000000,3.000000,3.000000
max,2997.000000,110005.000000,77074.000000,212088.000000,212090.000000,212088.000000,212090.000000,5.000000,5.000000,5.000000

In [217]:
# Rimuovo le righe contenenti set con punteggi rari che non voglio considerare
dataset_cleaned = dataset_cleaned[~dataset_cleaned['sets_required_to_win'].isin([2, 5])]

dataset_cleaned.describe()

,event_id,stage_id,match_duration,player_id,player_2_id,opponent_id,opponent_2_id,player_sets_won,opponent_sets_won,sets_required_to_win
count,163290.000000,163290.000000,163290.000000,163290.000000,40706.000000,163290.000000,40706.000000,163290.000000,163290.000000,163290.000000
mean,2701.460910,1576.831441,2053.056770,123975.785823,125933.068589,123975.785823,125933.068589,2.093900,2.093900,3.150934
std,156.989872,5507.250942,1406.527949,17341.905179,18042.220898,17341.905179,18042.220898,1.249736,1.249736,0.357986
min,2234.000000,100.000000,0.000000,90051.000000,100001.000000,90051.000000,100001.000000,0.000000,0.000000,3.000000
25%,2569.000000,200.000000,1429.000000,114716.000000,115910.000000,114716.000000,115910.000000,1.000000,1.000000,3.000000
50%,2700.000000,600.000000,1918.000000,121404.000000,122425.000000,121404.000000,122425.000000,3.000000,3.000000,3.000000
75%,2869.000000,1200.000000,2432.000000,132137.000000,133134.000000,132137.000000,133134.000000,3.000000,3.000000,3.000000
max,2997.000000,110005.000000,77074.000000,212088.000000,212090.000000,212088.000000,212090.000000,4.000000,4.000000,4.000000

In [218]:
columns_to_drop = ['event_id', 'match_id', 'stage_id', 'match_duration',
                  'match_start_time','opponent_id', 'opponent_2_id',
                  'player_sets_won', 'opponent_sets_won', 'match_scores',
                  'opponent_points']

# Rimuovo le colonne che non mi interessano
dataset_cleaned = dataset_cleaned.drop(columns=columns_to_drop, axis=1)

dataset_cleaned

Warning: total number of rows (163290) exceeds max_rows (20000). Falling back to pandas display.

,match_format,players_gender,match_stage,player_id,player_2_id,sets_required_to_win,current_match_state,player_points,match_result
0,D,W,FNL,112463,115009.0,3,0-0,"3, 1, 2, 1, 3, 1, 5, 2, 2",W
1,D,W,FNL,117294,109777.0,3,0-0,"1, 1, 3, 3, 1, 3, 1, 1, 1, 2, 2, 1",L
2,D,W,FNL,112463,115009.0,3,0-1,"1, 4, 1, 1, 1, 1, 1, 2, 1, 4, 2, 1",W
3,D,W,FNL,117294,109777.0,3,1-0,"2, 1, 1, 7, 3, 1, 1, 2, 2",L
4,D,W,FNL,112463,115009.0,3,1-1,"1, 2, 3, 2, 2, 1, 4, 1, 1, 2, 1, 1",W
...,...,...,...,...,...,...,...,...,...
164497,S,M,RND2,137238,NaN,3,1-1,"2, 2, 2, 1, 3, 2, 2, 1, 3, 1, 1, 1",W
164498,S,M,RND2,132172,NaN,3,1-2,"1, 2, 1, 2, 1, 1, 3, 4, 1, 1, 1, 1",L
164499,S,M,RND2,137238,NaN,3,2-1,"2, 3, 4, 1, 2, 1, 1, 5",W
164500,S,M,RND2,132172,NaN,3,2-2,"1, 1, 2, 7, 1, 3, 3",L
164501,S,M,RND2,137238,NaN,3,2-2,"3, 2, 1, 1, 1, 1, 1, 3, 1, 2, 1, 1",W

In [219]:
#Salvo il dataset pulito dai valori indesiderati
dataset_cleaned.to_csv("cleaned_dataset.csv", index=False)

#**Operazione sulle feature**


Facciamo alcune considerazioni sulle caratteristiche del nostro dataset e identifichiamo possibili miglioramenti per ottimizzarlo in vista del prossimo training del modello:

* Le colonne *match_format*, *player_id*, *player_2_id* non sono necessarie per il training del modello e possono essere cancellate

* Le colonne *sets_required_to_win* e *current_match_state* fanno entrambe riferimento al numero di set necessari per vincere una partita. Per rendere il dataset piÃ¹ chiaro e organizzato, possiamo sostituirle con due nuove colonne: *sets_to_win* e *opponent_sets_to_win*, che rappresentano rispettivamente il numero di set necessari al giocatore e all'avversario per vincere la partita.

* La colonna *match_stage* puÃ² essere modificata per attribuire maggiore importanza alle partite finali (FNL) rispetto a tutte le altre, migliorando il peso di queste informazioni nel training del modello.

* Per la colonna *match_result* si puÃ² semplificare il formato binario e facilitare l'apprendimento del modello.

* Per la colonna *players_gender* si puÃ² semplificare il formato tramite l'operazione di *One-Hot Encoding* nel caso di dataset_all_matches o tramite una semplice codifica binaria nel caso del dataset_single_matches

##**Colonne *sets_required_to_win* e *current_match_state***
Il principale vantaggio nell'utilizzare *sets_to_win* e *opponent_sets_to_win* invece delle colonne originali Ã¨ la semplicitÃ . Queste nuove variabili contengono le informazioni cruciali per il modello, senza introdurre troppa complessitÃ . La loro adozione facilita la gestione dei dati, migliorando l'efficienza del modello, **riassumendo le qualitÃ  utili delle colonne originarie** (*set_required_to_win* e *current_match_state*)

In [220]:
# Splittiamo 'current_match_state' e 'sets_to_win' in due nuove colonne
dataset_cleaned['sets_to_win'] = dataset_cleaned['sets_required_to_win'] - dataset_cleaned['current_match_state'].str.split('-', expand=True)[0].astype(int)
dataset_cleaned['opponent_sets_to_win'] = dataset_cleaned['sets_required_to_win'] - dataset_cleaned['current_match_state'].str.split('-', expand=True)[1].astype(int)
dataset_cleaned.drop(['sets_required_to_win', 'current_match_state'], axis=1, inplace=True)

# Riorganizziamo l'ordine delle colonne
match_stage_index = dataset_cleaned.columns.get_loc('match_stage')
set_diff_column_1 = dataset_cleaned.pop('sets_to_win')
set_diff_column_2 = dataset_cleaned.pop('opponent_sets_to_win')
dataset_cleaned.insert(match_stage_index + 1, 'sets_to_win', set_diff_column_1)
dataset_cleaned.insert(match_stage_index + 2, 'opponent_sets_to_win', set_diff_column_2)

# Visualizziamo il dataset_cleaned aggiornato
dataset_cleaned

Warning: total number of rows (163290) exceeds max_rows (20000). Falling back to pandas display.

,match_format,players_gender,match_stage,sets_to_win,opponent_sets_to_win,player_id,player_2_id,player_points,match_result
0,D,W,FNL,3,3,112463,115009.0,"3, 1, 2, 1, 3, 1, 5, 2, 2",W
1,D,W,FNL,3,3,117294,109777.0,"1, 1, 3, 3, 1, 3, 1, 1, 1, 2, 2, 1",L
2,D,W,FNL,3,2,112463,115009.0,"1, 4, 1, 1, 1, 1, 1, 2, 1, 4, 2, 1",W
3,D,W,FNL,2,3,117294,109777.0,"2, 1, 1, 7, 3, 1, 1, 2, 2",L
4,D,W,FNL,2,2,112463,115009.0,"1, 2, 3, 2, 2, 1, 4, 1, 1, 2, 1, 1",W
...,...,...,...,...,...,...,...,...,...
164497,S,M,RND2,2,2,137238,NaN,"2, 2, 2, 1, 3, 2, 2, 1, 3, 1, 1, 1",W
164498,S,M,RND2,2,1,132172,NaN,"1, 2, 1, 2, 1, 1, 3, 4, 1, 1, 1, 1",L
164499,S,M,RND2,1,2,137238,NaN,"2, 3, 4, 1, 2, 1, 1, 5",W
164500,S,M,RND2,1,1,132172,NaN,"1, 1, 2, 7, 1, 3, 3",L
164501,S,M,RND2,1,1,137238,NaN,"3, 2, 1, 1, 1, 1, 1, 3, 1, 2, 1, 1",W

##**Colonna *match_stage***

Al posto della colonna *match_stage* inseriamo *is_final* in modo da semplificarne i valori in:
- **FNL = 1**
- **Tutti gli altri stage del torneo = 0**

In questo modo possiamo dare maggiore importanza alle partite finali (FNL) rispetto a tutte le altre, **migliorando il peso di queste informazioni** nel training del modello.

In [221]:
# Creiamo la colonna 'is_final' il cui valore Ã¨ 1 se 'match_stage' == 'FNL', altrimenti 0
dataset_cleaned['is_final'] = (dataset_cleaned['match_stage'] == 'FNL').astype(int)

# Rimuoviamo la colonna 'match_stage'
dataset_cleaned = dataset_cleaned.drop(columns=['match_stage'])

# Posizioniamo 'is_final' dopo 'players_gender'
dataset_cleaned = dataset_cleaned[['players_gender', 'is_final'] + [col for col in dataset_cleaned.columns if col not in ['players_gender', 'is_final']]]

dataset_cleaned

Warning: total number of rows (163290) exceeds max_rows (20000). Falling back to pandas display.

,players_gender,is_final,match_format,sets_to_win,opponent_sets_to_win,player_id,player_2_id,player_points,match_result
0,W,1,D,3,3,112463,115009.0,"3, 1, 2, 1, 3, 1, 5, 2, 2",W
1,W,1,D,3,3,117294,109777.0,"1, 1, 3, 3, 1, 3, 1, 1, 1, 2, 2, 1",L
2,W,1,D,3,2,112463,115009.0,"1, 4, 1, 1, 1, 1, 1, 2, 1, 4, 2, 1",W
3,W,1,D,2,3,117294,109777.0,"2, 1, 1, 7, 3, 1, 1, 2, 2",L
4,W,1,D,2,2,112463,115009.0,"1, 2, 3, 2, 2, 1, 4, 1, 1, 2, 1, 1",W
...,...,...,...,...,...,...,...,...,...
164497,M,0,S,2,2,137238,NaN,"2, 2, 2, 1, 3, 2, 2, 1, 3, 1, 1, 1",W
164498,M,0,S,2,1,132172,NaN,"1, 2, 1, 2, 1, 1, 3, 4, 1, 1, 1, 1",L
164499,M,0,S,1,2,137238,NaN,"2, 3, 4, 1, 2, 1, 1, 5",W
164500,M,0,S,1,1,132172,NaN,"1, 1, 2, 7, 1, 3, 3",L
164501,M,0,S,1,1,137238,NaN,"3, 2, 1, 1, 1, 1, 1, 3, 1, 2, 1, 1",W

##**Colonna *match_results***
Convertiamo la colonna *match_result*, originariamente composta dai valori W (Win) e L (Loss), in una feature binaria con i valori 1 (Win) e 0 (Loss), semplificando il formato e facilitando l'apprendimento del modello.

In [222]:
# Creiamo la colonna 'is_winner' il cui valore Ã¨ 1 se 'match_result' == 'W', altrimenti 0
dataset_cleaned['is_winner'] = (dataset_cleaned['match_result'] == 'W').astype(int)

#Rimuoviamo la colonna 'match_result' e non abbiamo neanche bisogno di riordinare il database
dataset_cleaned = dataset_cleaned.drop(columns = ['match_result'])

dataset_cleaned

Warning: total number of rows (163290) exceeds max_rows (20000). Falling back to pandas display.

,players_gender,is_final,match_format,sets_to_win,opponent_sets_to_win,player_id,player_2_id,player_points,is_winner
0,W,1,D,3,3,112463,115009.0,"3, 1, 2, 1, 3, 1, 5, 2, 2",1
1,W,1,D,3,3,117294,109777.0,"1, 1, 3, 3, 1, 3, 1, 1, 1, 2, 2, 1",0
2,W,1,D,3,2,112463,115009.0,"1, 4, 1, 1, 1, 1, 1, 2, 1, 4, 2, 1",1
3,W,1,D,2,3,117294,109777.0,"2, 1, 1, 7, 3, 1, 1, 2, 2",0
4,W,1,D,2,2,112463,115009.0,"1, 2, 3, 2, 2, 1, 4, 1, 1, 2, 1, 1",1
...,...,...,...,...,...,...,...,...,...
164497,M,0,S,2,2,137238,NaN,"2, 2, 2, 1, 3, 2, 2, 1, 3, 1, 1, 1",1
164498,M,0,S,2,1,132172,NaN,"1, 2, 1, 2, 1, 1, 3, 4, 1, 1, 1, 1",0
164499,M,0,S,1,2,137238,NaN,"2, 3, 4, 1, 2, 1, 1, 5",1
164500,M,0,S,1,1,132172,NaN,"1, 1, 2, 7, 1, 3, 3",0
164501,M,0,S,1,1,137238,NaN,"3, 2, 1, 1, 1, 1, 1, 3, 1, 2, 1, 1",1

In [223]:
#Salvo il dataset pulito dai valori indesiderati
dataset_cleaned.to_csv("cleaned_v2_dataset.csv", index=False)


#**Operazione su *single_matches_dataset***

Facciamo adesso alcune operazioni specifiche sulle feature su un dataset composto unicamente da partite di singolo

In [224]:
columns_to_drop = ['match_format', 'player_id', 'player_2_id']

# Rimuovo dal dataset le partite di doppio e di team
dataset_singles = dataset_cleaned[dataset_cleaned["player_2_id"].isna()]
dataset_singles = dataset_singles[~dataset_singles["match_format"].isin(["T"])]

# Rimuovo le colonne non desiderate
dataset_singles = dataset_singles.drop(columns=columns_to_drop, axis=1)

# Traduco il campo players_gender in valore numerico
dataset_singles['players_gender'] = (dataset_singles['players_gender'] == 'M').astype(int)

dataset_singles

Warning: total number of rows (118216) exceeds max_rows (20000). Falling back to pandas display.

,players_gender,is_final,sets_to_win,opponent_sets_to_win,player_points,is_winner
54,1,1,4,4,"1, 1, 1, 1, 1, 4, 3, 2, 1, 2, 1, 1",1
55,1,1,4,4,"6, 1, 1, 2, 1, 2, 3, 3",0
56,1,1,3,4,"3, 4, 1, 3, 1, 1, 2, 1, 4",1
57,1,1,4,3,"1, 1, 2, 1, 1, 3, 1, 4, 3, 1, 1, 1",0
58,1,1,3,3,"1, 1, 3, 2, 1, 1, 1, 1, 2, 1, 3, 1",1
...,...,...,...,...,...,...
164497,1,0,2,2,"2, 2, 2, 1, 3, 2, 2, 1, 3, 1, 1, 1",1
164498,1,0,2,1,"1, 2, 1, 2, 1, 1, 3, 4, 1, 1, 1, 1",0
164499,1,0,1,2,"2, 3, 4, 1, 2, 1, 1, 5",1
164500,1,0,1,1,"1, 1, 2, 7, 1, 3, 3",0
164501,1,0,1,1,"3, 2, 1, 1, 1, 1, 1, 3, 1, 2, 1, 1",1

Salvataggio del nuovo dataset

In [225]:
# Salvo il dataset finale delle partite di singolo
dataset_singles.to_csv("singles_matches_dataset.csv", index=False)


#**Operazione su *all_matches_dataset***

Facciamo adesso alcune operazioni specifiche sulle feature su un dataset composto da tutte le tipologie di partite

##**One-Hot Encoding**
In questo caso la colonna *players_gender* non potrÃ  essere tradotta con un valore numerico binario poichÃ¨ bisogna considerare il caso "X" in cui la partita Ã¨ di doppio misto(quindi sia maschi che femmine). Quindi si dovrÃ  utilizzare one hot encoding che trasformerÃ  le seguenti combinazioni in:

*   M = [1,0,0]
*   W = [0,1,0]
*   X = [0,0,1]

Tradurre la colonna con (1, 2, 3),sarebbe utile **se volessimo assumere un ordine delle categorie** cosa che a noi non ci interessa in questo contesto.

In [226]:
dataset_all_matches = dataset_cleaned
# Applichiamo il One Hot Encoding sulla colonna 'players_gender'
encoder = OneHotEncoder(sparse_output=False)  # sparse_output=False per ottenere una matrice densa

# Trasformiamo i dati facendo One Hot Encoding sulla colonna players_gender
X_encoded = encoder.fit_transform(dataset_cleaned[['players_gender']])

# Otteniamo i nomi delle nuove colonne
encoded_columns = encoder.get_feature_names_out(['players_gender'])

dataset_cleaned[encoded_columns] = X_encoded

dataset_cleaned

Warning: total number of rows (163290) exceeds max_rows (20000). Falling back to pandas display.

,players_gender,is_final,match_format,sets_to_win,opponent_sets_to_win,player_id,player_2_id,player_points,is_winner,players_gender_M,players_gender_W,players_gender_X
0,W,1,D,3,3,112463,115009.0,"3, 1, 2, 1, 3, 1, 5, 2, 2",1,0.0,1.0,0.0
1,W,1,D,3,3,117294,109777.0,"1, 1, 3, 3, 1, 3, 1, 1, 1, 2, 2, 1",0,0.0,1.0,0.0
2,W,1,D,3,2,112463,115009.0,"1, 4, 1, 1, 1, 1, 1, 2, 1, 4, 2, 1",1,0.0,1.0,0.0
3,W,1,D,2,3,117294,109777.0,"2, 1, 1, 7, 3, 1, 1, 2, 2",0,0.0,1.0,0.0
4,W,1,D,2,2,112463,115009.0,"1, 2, 3, 2, 2, 1, 4, 1, 1, 2, 1, 1",1,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
164497,M,0,S,2,2,137238,NaN,"2, 2, 2, 1, 3, 2, 2, 1, 3, 1, 1, 1",1,1.0,0.0,0.0
164498,M,0,S,2,1,132172,NaN,"1, 2, 1, 2, 1, 1, 3, 4, 1, 1, 1, 1",0,1.0,0.0,0.0
164499,M,0,S,1,2,137238,NaN,"2, 3, 4, 1, 2, 1, 1, 5",1,1.0,0.0,0.0
164500,M,0,S,1,1,132172,NaN,"1, 1, 2, 7, 1, 3, 3",0,1.0,0.0,0.0
164501,M,0,S,1,1,137238,NaN,"3, 2, 1, 1, 1, 1, 1, 3, 1, 2, 1, 1",1,1.0,0.0,0.0

Anche in questo ordiniamo il database semplicemente rimuovendo la colonna *players_gender* e aggiungendo le altre 3 colonne


*   *players_gender_M*
*   *players_gender_W*
*   *players_gender_X*

In [227]:
# Rimuoviamo la colonna 'players_gender'
dataset_all_matches = dataset_all_matches.drop(columns=['players_gender'])

# Spostiamo le colonne codificate all'inizio
encoded_columns = ['players_gender_M', 'players_gender_W', 'players_gender_X']
dataset_all_matches = dataset_all_matches[encoded_columns + [col for col in dataset_all_matches.columns if col not in encoded_columns]]
dataset_all_matches[encoded_columns] = dataset_all_matches[encoded_columns].astype(int)

# Visualizziamo il risultato
dataset_all_matches

Warning: total number of rows (163290) exceeds max_rows (20000). Falling back to pandas display.

,players_gender_M,players_gender_W,players_gender_X,is_final,match_format,sets_to_win,opponent_sets_to_win,player_id,player_2_id,player_points,is_winner
0,0,1,0,1,D,3,3,112463,115009.0,"3, 1, 2, 1, 3, 1, 5, 2, 2",1
1,0,1,0,1,D,3,3,117294,109777.0,"1, 1, 3, 3, 1, 3, 1, 1, 1, 2, 2, 1",0
2,0,1,0,1,D,3,2,112463,115009.0,"1, 4, 1, 1, 1, 1, 1, 2, 1, 4, 2, 1",1
3,0,1,0,1,D,2,3,117294,109777.0,"2, 1, 1, 7, 3, 1, 1, 2, 2",0
4,0,1,0,1,D,2,2,112463,115009.0,"1, 2, 3, 2, 2, 1, 4, 1, 1, 2, 1, 1",1
...,...,...,...,...,...,...,...,...,...,...,...
164497,1,0,0,0,S,2,2,137238,NaN,"2, 2, 2, 1, 3, 2, 2, 1, 3, 1, 1, 1",1
164498,1,0,0,0,S,2,1,132172,NaN,"1, 2, 1, 2, 1, 1, 3, 4, 1, 1, 1, 1",0
164499,1,0,0,0,S,1,2,137238,NaN,"2, 3, 4, 1, 2, 1, 1, 5",1
164500,1,0,0,0,S,1,1,132172,NaN,"1, 1, 2, 7, 1, 3, 3",0
164501,1,0,0,0,S,1,1,137238,NaN,"3, 2, 1, 1, 1, 1, 1, 3, 1, 2, 1, 1",1

Effettuo le operazioni finali su all_matches_dataset

In [228]:
columns_to_drop = ['match_format', 'player_id', 'player_2_id']

# Rimuovo le colonne non desiderate
dataset_all_matches = dataset_all_matches.drop(columns=columns_to_drop, axis=1)

dataset_all_matches

Warning: total number of rows (163290) exceeds max_rows (20000). Falling back to pandas display.

,players_gender_M,players_gender_W,players_gender_X,is_final,sets_to_win,opponent_sets_to_win,player_points,is_winner
0,0,1,0,1,3,3,"3, 1, 2, 1, 3, 1, 5, 2, 2",1
1,0,1,0,1,3,3,"1, 1, 3, 3, 1, 3, 1, 1, 1, 2, 2, 1",0
2,0,1,0,1,3,2,"1, 4, 1, 1, 1, 1, 1, 2, 1, 4, 2, 1",1
3,0,1,0,1,2,3,"2, 1, 1, 7, 3, 1, 1, 2, 2",0
4,0,1,0,1,2,2,"1, 2, 3, 2, 2, 1, 4, 1, 1, 2, 1, 1",1
...,...,...,...,...,...,...,...,...
164497,1,0,0,0,2,2,"2, 2, 2, 1, 3, 2, 2, 1, 3, 1, 1, 1",1
164498,1,0,0,0,2,1,"1, 2, 1, 2, 1, 1, 3, 4, 1, 1, 1, 1",0
164499,1,0,0,0,1,2,"2, 3, 4, 1, 2, 1, 1, 5",1
164500,1,0,0,0,1,1,"1, 1, 2, 7, 1, 3, 3",0
164501,1,0,0,0,1,1,"3, 2, 1, 1, 1, 1, 1, 3, 1, 2, 1, 1",1

Salvataggio del nuovo dataset

In [229]:
# Salvo il dataset finale di tutte le partite
dataset_all_matches.to_csv("all_matches_dataset.csv", index=False)

#**Separazione delle variabili**
Proseguiamo con la separazione tra le variabili target e le variabili indipendenti dove la colonna *is_winner* contiene le variabili target ovvero il valore che il nostro modello vorrÃ  predire

In [230]:
# Selezioniamo le variabili indipendenti (X) escludendo la variabile target
X = dataset_all_matches[['players_gender_M', 'players_gender_W', 'players_gender_X', 'is_final', 'sets_to_win','opponent_sets_to_win', 'player_points']]

# Selezioniamo la variabile target (y)
y = dataset_all_matches['is_winner']

In [231]:
# Visualizziamo X contentente le variabili indipendenti
X

Warning: total number of rows (163290) exceeds max_rows (20000). Falling back to pandas display.

,players_gender_M,players_gender_W,players_gender_X,is_final,sets_to_win,opponent_sets_to_win,player_points
0,0,1,0,1,3,3,"3, 1, 2, 1, 3, 1, 5, 2, 2"
1,0,1,0,1,3,3,"1, 1, 3, 3, 1, 3, 1, 1, 1, 2, 2, 1"
2,0,1,0,1,3,2,"1, 4, 1, 1, 1, 1, 1, 2, 1, 4, 2, 1"
3,0,1,0,1,2,3,"2, 1, 1, 7, 3, 1, 1, 2, 2"
4,0,1,0,1,2,2,"1, 2, 3, 2, 2, 1, 4, 1, 1, 2, 1, 1"
...,...,...,...,...,...,...,...
164497,1,0,0,0,2,2,"2, 2, 2, 1, 3, 2, 2, 1, 3, 1, 1, 1"
164498,1,0,0,0,2,1,"1, 2, 1, 2, 1, 1, 3, 4, 1, 1, 1, 1"
164499,1,0,0,0,1,2,"2, 3, 4, 1, 2, 1, 1, 5"
164500,1,0,0,0,1,1,"1, 1, 2, 7, 1, 3, 3"
164501,1,0,0,0,1,1,"3, 2, 1, 1, 1, 1, 1, 3, 1, 2, 1, 1"

In [232]:
# Visualizziamo y contenente le variabili target
y

0         1
1         0
2         1
3         0
4         1
         ..
164497    1
164498    0
164499    1
164500    0
164501    1
Name: is_winner, Length: 163290, dtype: int64